body {
    scrollbar-gutter: stable
}

.section {
    margin-bottom: var(--space-6);
}

.bg-danger {
    background: color-mix(in srgb, var(--danger), transparent 90%);
}

table {
    font-size: clamp(0.55rem, 0.625rem + 0.75cqi, 18px);
}

.badge {
    text-transform: uppercase;
}

code strong {
    font-weight: 900;
}

.card:has(table):not(:has(h3)) {
    padding: .25em .75em;
}

.card:has(table):has(h3) {
    padding: 1em;
}

.row h2 {
    margin-bottom: 0;
}
