.section {
    margin-bottom: var(--space-6);
}

.bg-danger {
    background: color-mix(in srgb, var(--danger), transparent 90%);
}

table {
    font-size: 18px;
}

.badge {
    text-transform: uppercase;
}

code strong {
    font-weight: 900;
}